body {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

section {
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    transition: all 1s ease-in-out;
}

section>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100%;
    scroll-snap-align: start;
    /* width: 100%; */
}

div>span {
    font-size: 66px;
    font-weight: bold;

}

div > img{
    animation: moveImg 3s infinite alternate-reverse linear;
}

/* section:nth-child(1) {
    background: linear-gradient(45deg, green, lightgreen);
    font-family: cursive; */
/* } */

#slider1 {
    animation: blurAnimate 1s linear;
    background: linear-gradient(45deg, green, lightgreen);
    font-family: cursive;
}

#slider1>span {
    animation: scaleImg 5s infinite alternate-reverse linear;
}

#slider2>span {
    white-space: nowrap;
    overflow: hidden;
    /* transition: all 1s ease-in; */
    /* animation: slider2 .7s ease-in-out; */
}

#slider2 {
    background: linear-gradient(45deg, rgb(255, 70, 101), lightpink);
    font-family: monospace;
}

#slider3 {
    background: linear-gradient(45deg, rgb(165, 11, 139) ,rgb(222, 7, 233));
    font-family: cursive;
}

#slider3 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.blank{
    animation: blankAnimate 1s infinite linear;
}


@keyframes blurAnimate {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(0px);
    }
}

@keyframes slider2 {
    from {
        width: 0px;
    }

    to {
        width: 50%;
    }
}

@keyframes slider3 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scaleImg {
    from {
        scale: .8;
        rotate: 5deg;
    }
    
    to {
        rotate: -5deg;
        scale: 1;
    }
}

@keyframes blurTxt {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes blankAnimate {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes moveImg {
    0% {
        transform: translate(10px, 20px);
    }
    
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-20px, -10px);
    }
}